apiVersion: v1
kind: ConfigMap
metadata:
  name: wazuh-vector-config
data:
  vector.yaml: |
    api:
      enabled: true
      address: 0.0.0.0:8686

    data_dir: /tmp/vector

    sources:
      wazuh_alerts:
        type: file
        include:
          - /var/ossec/logs/alerts/alerts.json
        read_from: end
        ignore_not_found: true

    transforms:
      parsed:
        type: remap
        inputs: ["wazuh_alerts"]
        source: |
          . = parse_json!(.message)
          .event_source = "wazuh"
          .ingested_at = now()

          if !exists(.rule) { .rule = {} }

          if exists(.rule.level) {
            .rule.level, err = to_int(.rule.level)
            if err != null { .rule.level = 0 }
          } else {
            .rule.level = 0
          }

      high_sev:
        type: filter
        inputs: ["parsed"]
        condition: '.rule.level >= 10'

    sinks:
      opensearch_all:
        type: elasticsearch
        inputs: ["parsed"]
        endpoints:
          - "http://opensearch.platform-opensearch.svc.cluster.local:9200"
        mode: bulk
        bulk:
          index: "wazuh-alerts-%Y.%m.%d"
        healthcheck: true

      notify_high:
        type: http
        inputs: ["high_sev"]
        uri: "http://notify-webhook.platform-notify.svc.cluster.local:9900/hooks/notify"
        method: post
        encoding:
          codec: json
        request:
          headers:
            Content-Type: "application/json"
